/* Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.debug {
  border: 2px dashed black;
}

/*NAV & HEADER*/

#header-top {
  padding: 30px 0;
  background-color: #add8e6;
}

#wrapper-nav {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  background-color: orange;
}

#wrapper-nav div {
  flex-basis: 20%;
  padding: 10px;
  display: inline-block;
}

#wrapper-nav div.link-navigazione {
  flex-basis: 60%;
}

#wrapper-nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#wrapper-nav li {
  list-style-type: none;
  margin: 0 10px;
}

.login span {
  display: flex;
  justify-content: flex-end;
}

#header-bottom {
  padding: 60px 0;
  background-color: #00008b;
}

#header-bottom .wrapper {
  margin: 0 auto;
  max-width: 60%;
  height: 400px;
  /* height: 30%; */
  background-color: #ee82ee;
}


/* MAIN */

main section {
  background-color: #fff;
  padding: 60px 0;
}

main section:nth-child(even) {
  background-color: #d3d3d3;
}

.wrapper {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

.main-content {
  flex-basis: 60%;
  padding: 60px 0;
  height: 600px;
  background-color: #1e90ff;
}

.sidebar {
  flex-basis: 40%;
  padding: 60px 0;
  height: 600px;
  background-color: #ffc0cb;
}

.big.wrapper {
  background-color: green;
  height: 900px;
}

footer {
  background-color: #23272a;
  padding: 10px 0;
}

footer .wrapper {
  display: flex;
}

footer .sidebar {
  flex-basis: 30%;
}

footer #social {
  background-color: #f08080;
}

footer .grid {
  flex-basis: 70%; 
  background-color: #20b2aa;
  height: 600px;
  display: flex;
}

footer .grid .column {
  flex-basis: 25%;
  border: 2px dashed #ffffff;

}