/* Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.debug {
  border: 2px dashed black;
}

/*NAV & HEADER*/

nav {
  padding: 30px 0;
  background-color: #add8e6;
}

#container-nav {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  background-color: orange;
}

#container-nav div {
  flex-basis: 20%;
  padding: 10px;
  display: inline-block;
}

#container-nav div.link-navigazione {
  flex-basis: 60%;
}

#container-nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#container-nav li {
  list-style-type: none;
  margin: 0 10px;
}

.login span {
  display: flex;
  justify-content: flex-end;
}


header {
  background-color: #00008b;
}

#header-section {
  padding: 60px 0;
}

#header-section .container {
  margin: 0 auto;
  max-width: 60%;
  height: 400px;
  /* height: 30%; */
  background-color: #ee82ee;
}



/* MAIN */

